<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Page title shown in window title</title>
        <meta charset="utf-8"/>
        <!--<link rel="stylesheet" type="text/css" href="css/reset.css">-->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="https://vuejs.org/js/vue.js" defer></script>
        <script src="js/menu.js" defer></script>
        <script src="js/js_script.js" defer></script>
        <script src="js/vue_script.js" defer></script>
    </head>
    <body>
    	<main>
    		<div id="myheader">
	    		<h1 id=myheader_text>Welcome to BurgerHeaven Online</h1>
	    		<img id="myheader_picture" src="img/panorama.jpg" alt="header background" title="Header Background">
	    	</div>
    		<section id="burger_selection">
    			<h1>Select Burger</h1>
    			<p>This is where you execute burger selection</p>
    			
    			<div id="burgerWrapper" class="wrapper">
				    <div class="box a">
				    	<h3>The Fire Burger</h3>
				    	<img src="img/the_fire_burger.jpg" alt="The Fire Burger" title="Fire Burger" height="200">
				    	<ul>
							<li>750 kCal</li>
							<li>Contains <span class="allergy">lactose</span></li>
							<li>Contains <span class="allergy">gluten</span></li>
						</ul>
					</div>
				    <div class="box b">
				    	<h3>Fried Turkey Burger</h3>
				    	<img src="img/fried_turkey_burger.jpeg" alt="Fried Turkey Burger" title="Fried Turkey" height="200" height="170">
				    	<ul>
							<li>600 kCal</li>
							<li>Contains <span class="allergy">lactose</span></li>
						</ul>
					</div>
				    <div class="box c">
				    	<h3>A Double w/ Cheese</h3>
				    	<img src="img/double_with_cheese.jpg" alt="A Double with Cheese" title="Double w/ cheese" height="200">
				    	<ul>
							<li>1800 kCal</li>
							<li>Contains <span class="allergy">lactose</span></li>
							<li>Contains <span class="allergy">gluten</span></li>
						</ul>
					</div>
			    </div>

    		</section>
    		<section id="customer_information">
    			<h1>Customer Information</h1>
    			<p>This is where you provide necessary information.</p>
    			<h3>Delivery Information:</h3>
    			<form>
    				<p>
    					<label for="fullname">Full name</label><br>
    					<input class="formValue" type="text" id="fullname" name="fn" required="required" placeholder="First- and Last name">
					</p>
					<p>
					    <label for="email">E-mail</label><br>
					    <input class="formValue" type="text" id="email" name="em" required="required" placeholder="E-mail address">
					</p>
					<p>
					    <label for="street">Street</label><br>
					    <input class="formValue" type="text" id="street" name="st" required="required" placeholder="Street name">
					</p>
					<p>
					    <label for="house">House</label><br>
					    <input class="formValue" type="text" id="house" name="hou" required="required" placeholder="House number">
					</p>
					<p>
					    <label for="payment">Payment options</label><br>
					    <select class="formValue" id="payment" name="pay">
					        <option selected="selected" value="creditcard">Credit Card</option>
					        <option value="paypal">PayPal</option>
					        <option value="cash">Cash</option>
					        <option value="check">Check</option>
					    </select>
					</p>
					<p>
						<label for="male">Gender</label><br>
					    <input type="radio" id="male" name="gender" value="male" required="required">
					    <label for="male">Male</label><br>
					    <input type="radio" id="female" name="gender" value="female" required="required">
					    <label for="female">Female</label><br>
					    <input type="radio" id="non-binary" name="gender" value="non-binary" required="required">
					    <label for="non-binary">Non-binary</label><br>
					    <input type="radio" id="undisclosed" checked="checked" name="gender" value="undisclosed" required="required">
					    <label for="undisclosed">Undisclosed</label><br>
					</p>
    			</form>
    		</section>
			<button id="submitButton" type="submit"><img src="img/send_button.png" width="20"> Send Order!</button>
			<div id="bottomInfo">
				
			</div>
    	</main>
	 <footer>
	 	<hr>
  		<p>© 2019 MyBurgers Inc.</p>
	</footer> 
    </body>
</html>
